In [1]:
import warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings('ignore')

In [2]:
folder_path = r'C:\Users\Rafael_Fagundes\Downloads\delve_compiled_data.csv'

df = pd.read_csv(folder_path)

In [3]:
# Filter the dataset by US, 2024Q3 and 3P
df_filtered = df[
                (df['Fiscal Quarter'].isin(['2024-Q2']))
                 & (df['Country'] == 'United Kingdom')
                 #& (df['Audience Type'] == '3PD') 
                 #& (df['BU'] == 'CSB') 
                 #& (df['Display Dell Vehicle Mapped'] == 'Display')
                 #& (df['Display Funnel Mapped'] == 'Active Prospects')
                ]

In [4]:
# Create a flag for the main Vendors
df_filtered['Permutive_flag'] = df_filtered['Media Buy Name'].str.contains(r'Permutive|Permutvie|permu|Permu|ermu', case=False)

In [5]:
df_clean = df_filtered[(df_filtered['Clicks'] <= df_filtered['Impressions'])
                      & (df_filtered['Spend'] > 0)
                      ]

In [6]:
df_clean['Audience Type Name v2'] = df_filtered['Audience Type Name'] + np.where(df_filtered['Permutive_flag'], ' - Permutive', '')

In [7]:
df_clean['CTR'] = (df_clean['Clicks'] / df_clean['Impressions']) * 100
df_clean['CPM'] = 1000 * df_clean['Spend'] / df_clean['Impressions']
df_clean['CPC'] = df_clean['Spend'] / df_clean['Clicks']

In [8]:
df_clean[df_clean['Audience Type Name v2'] == 'IN MARKET-3PD BEHAVIOR - Permutive'].describe()

,Unnamed: 0,Impressions,Clicks,Spend,Net Rev,HVE,[Net_ROAS],Week Quarter,CTR,CPM,CPC
count,4.100000e+01,41.000000,41.000000,41.000000,41.000000,41.0,41.000000,41.000000,41.000000,41.000000,41.000000
mean,1.613656e+06,31554.121951,77.756098,262.440140,146.174939,0.0,0.079768,7.560976,0.741961,10.093688,inf
std,4.241500e+02,55769.996228,152.699997,446.097172,935.976292,0.0,0.510767,1.703655,2.086650,4.158495,NaN
min,1.613114e+06,2.000000,0.000000,0.035206,0.000000,0.0,0.000000,5.000000,0.000000,6.235935,0.092688
25%,1.613143e+06,75.000000,1.000000,0.711539,0.000000,0.0,0.000000,6.000000,0.076233,7.725668,1.933290
50%,1.613688e+06,6958.000000,18.000000,61.297135,0.000000,0.0,0.000000,8.000000,0.275365,9.148060,3.205296
75%,1.614066e+06,25143.000000,80.000000,256.423678,0.000000,0.0,0.000000,9.000000,0.465338,10.426081,12.814631
max,1.614337e+06,236138.000000,660.000000,1832.492231,5993.172480,0.0,3.270504,10.000000,10.000000,29.221373,inf

In [9]:
df_clean[df_clean['Audience Type Name v2'] == 'IN MARKET-3PD BEHAVIOR'].describe()

,Unnamed: 0,Impressions,Clicks,Spend,Net Rev,HVE,[Net_ROAS],Week Quarter,CTR,CPM,CPC
count,3.370000e+02,3.370000e+02,337.000000,337.000000,337.000000,337.0,3.370000e+02,337.000000,337.000000,337.000000,337.000000
mean,1.608547e+06,1.103601e+05,46.899110,220.312938,1662.554441,0.0,3.340867e+04,7.011869,0.039686,3.344092,inf
std,1.187553e+04,3.626700e+05,167.881394,544.876504,8524.545652,0.0,3.599668e+05,1.814256,0.049495,1.083896,NaN
min,1.599720e+06,1.000000e+00,0.000000,0.000726,0.000000,0.0,0.000000e+00,4.000000,0.000000,0.427435,0.519275
25%,1.599859e+06,3.500000e+02,0.000000,0.349389,0.000000,0.0,0.000000e+00,6.000000,0.000000,3.205402,5.119798
50%,1.600010e+06,1.090200e+04,4.000000,38.535741,0.000000,0.0,0.000000e+00,7.000000,0.030870,3.651556,10.253414
75%,1.623445e+06,5.320300e+04,23.000000,150.573518,0.000000,0.0,0.000000e+00,8.000000,0.060809,4.032609,NaN
max,1.629561e+06,3.600405e+06,1739.000000,4262.771221,109109.964353,0.0,4.673285e+06,11.000000,0.617284,5.252536,inf

In [10]:
df_clean.to_csv('csv/UK_extract.csv')