In [1]:
import pandas as pd
import numpy as np

### Impressions file

In [2]:
strFilter = 'AIQ-TEST|LIVERAMP-TEST|ZEOTAP-TEST'

df_impressions = pd.read_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Desktop\New folder\impressions.csv', engine='python', skiprows=12,skipfooter=1, parse_dates=['Date'])

df_impressions_filtered = df_impressions[df_impressions['Placement'].str.contains(strFilter)]

df_impressions_group = df_impressions_filtered.groupby(['Date','Placement'])['Impressions','Clicks'].sum().reset_index()

df_impressions_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         648 non-null    datetime64[ns]
 1   Placement    648 non-null    object
 2   Impressions  648 non-null    int64
 3   Clicks       648 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 20.4+ KB

C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_22020\3680692812.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_impressions_group = df_impressions_filtered.groupby(['Date','Placement'])['Impressions','Clicks'].sum().reset_index()

### Reach file

In [3]:
df_reach = pd.read_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Desktop\New folder\reach.csv', engine='python', skiprows=12, skipfooter=1, parse_dates=['Date'])
df_reach['Date']= pd.to_datetime(df_reach['Date'], errors='coerce')

df_reach.replace('-', 0, inplace=True)

df_reach_filtered = df_reach[df_reach['Placement'].str.contains(strFilter)]

df_reach_filtered.drop(columns=['Country','Advertiser','Unique Reach: Click Reach','Unique Reach: Total Reach (Co-Viewed)'], inplace=True)

df_reach_filtered.rename(columns={'Unique Reach: Impression Reach (Co-Viewed)':'Reach','Unique Reach: Average Impression Frequency (Co-Viewed)':'Frequency'}, inplace=True)

df_reach_filtered['Reach'] = df_reach_filtered['Reach'].astype(float)
df_reach_filtered['Frequency'] = df_reach_filtered['Frequency'].astype(float)

df_reach_group = df_reach_filtered.groupby(['Date','Placement'])['Reach','Frequency'].sum().reset_index()

df_reach_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       640 non-null    datetime64[ns]
 1   Placement  640 non-null    object
 2   Reach      640 non-null    float64
 3   Frequency  640 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 20.1+ KB

C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_22020\388355320.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reach_filtered.drop(columns=['Country','Advertiser','Unique Reach: Click Reach','Unique Reach: Total Reach (Co-Viewed)'], inplace=True)
C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_22020\388355320.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reach_filtered.rename(columns={'Unique Reach: Impression Reach (Co-Viewed)':'Reach','Unique Reach: Average Impression Frequency (Co-Viewed)':'Frequency'}, inplace=True)
C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_22020\388355320.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reach_filtered['Reach'] = df_reach_filtered['Reach'].astype(float)
C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_22020\388355320.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reach_filtered['Frequency'] = df_reach_filtered['Frequency'].astype(float)
C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_22020\388355320.py:15: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_reach_group = df_reach_filtered.groupby(['Date','Placement'])['Reach','Frequency'].sum().reset_index()

### Visits file

In [4]:
df_visits = pd.read_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Desktop\New folder\visits.csv', engine='python', parse_dates=['Day'])

df_visits.rename(columns={'Day':'Date', 'Placement_Name':'Placement'}, inplace=True)

df_visits.replace('-', 0, inplace=True)

df_visits.head()

df_visits_filtered = df_visits[df_visits['Placement'].str.contains(strFilter)]

df_visits_group = df_visits_filtered.groupby(['Date','Placement'])['Visits','Unique Visitors','Total Visits'].sum().reset_index()

df_visits_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             103 non-null    datetime64[ns]
 1   Placement        103 non-null    object
 2   Visits           103 non-null    int64
 3   Unique Visitors  103 non-null    int64
 4   Total Visits     103 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 4.1+ KB

C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_22020\3831578739.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_visits_group = df_visits_filtered.groupby(['Date','Placement'])['Visits','Unique Visitors','Total Visits'].sum().reset_index()

### Merge files

In [5]:
df_final = pd.merge(df_impressions_group, df_reach_group, on=['Date','Placement'], how='left')

df_final = pd.merge(df_final, df_visits_group, on=['Date','Placement'], how='left')

df_final.replace(np.nan,0, inplace=True)

df_final['Vendor'] = df_final['Placement'].str.extract('(AIQ|LIVERAMP|ZEOTAP)')
    
df_final.head()

,Date,Placement,Impressions,Clicks,Reach,Frequency,Visits,Unique Visitors,Total Visits,Vendor
0,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_160x60...,7,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP
1,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_300x25...,39,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP
2,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_300x60...,24,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP
3,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_728x90...,33,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP
4,2023-04-08,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_160x60...,1,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP

In [6]:
df_calendar = pd.read_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Desktop\New folder\calendar.csv',parse_dates=['Date'])

df_calendar.head()

        Date  Day      FY Qtr Month  Period  WK  QWK        FQ         FQW
0 2011-01-29  Sat  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
1 2011-01-30  Sun  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
2 2011-01-31  Mon  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
3 2011-02-01  Tue  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
4 2011-02-02  Wed  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1

In [7]:
df_final = pd.merge(df_final,df_calendar,on='Date',how='left')

df_final.head()

,Date,Placement,Impressions,Clicks,Reach,Frequency,Visits,Unique Visitors,Total Visits,Vendor,Day,FY,Qtr,Month,Period,WK,QWK,FQ,FQW
0,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_160x60...,7,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP,Fri,FY2024,Q1,M3,3,9,9,FY2024Q1,FY2024Q1W9
1,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_300x25...,39,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP,Fri,FY2024,Q1,M3,3,9,9,FY2024Q1,FY2024Q1W9
2,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_300x60...,24,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP,Fri,FY2024,Q1,M3,3,9,9,FY2024Q1,FY2024Q1W9
3,2023-04-07,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_728x90...,33,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP,Fri,FY2024,Q1,M3,3,9,9,FY2024Q1,FY2024Q1W9
4,2023-04-08,DV360_RETARGET-1PD RETARGET_DCO-DISPLAY_160x60...,1,0,0.0,0.0,0.0,0.0,0.0,LIVERAMP,Sat,FY2024,Q1,M3,3,10,10,FY2024Q1,FY2024Q1W10

In [8]:
df_final.to_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Desktop\New folder\df_final.csv')