In [12]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [13]:
df = pd.read_csv('csv\Freeform table - Browser.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4004 entries, 0 to 4003
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Browser           4004 non-null   object
 1   Visits            4004 non-null   int64
 2   Unique Visitors   4004 non-null   int64
 3   Revenue           4004 non-null   float64
 4   Revenue / Visits  4004 non-null   float64
 5   Total Orders      4004 non-null   int64
 6   Occurrences       4004 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 219.1+ KB

In [15]:
df['Revenue'] = df['Revenue'].astype('float64')
df['Visits'] = df['Visits'].astype('float64')
df['Unique Visitors'] = df['Unique Visitors'].astype('float64')

In [16]:
df['Browser'].str.split(expand=True).stack().unique()

array(['Chrome', '111.0', '112.0', ..., 'Mosaic', '18.22463', '15.2n2958'],
      dtype=object)

In [20]:
Browsers = '(NetFront|SeaMonkey|Whale|Iron|Konqueror|Openwave|Sleipnir|unspecified|other|Opera|Chrome|Edge|Safari|MIUI Browser|Firefox|Gecko|Mobile|Samsung|Avast|Secure|Internet Explorer|Huawei|Amazon|SouGou|QQ|Chromium|Android|webOS)'

df['Browser_Group'] = df['Browser'].str.extract(Browsers)

In [21]:
df.head()

,Browser,Visits,Unique Visitors,Revenue,Revenue / Visits,Total Orders,Occurrences,Browser_Group
0,Chrome 111.0,30094196.0,16674756.0,807054806.8,26.817623,323380,279324168,Chrome
1,Chrome 112.0,20548669.0,11550106.0,612746971.0,29.819302,201150,190986127,Chrome
2,Google Chrome (unknown version),14902852.0,7951514.0,553251537.7,37.123870,210009,182249931,Chrome
3,Edge 112.0,6999761.0,3591779.0,395675845.9,56.527051,97491,91053594,Edge
4,Google Chrome 109.0,11100883.0,7034168.0,326772473.8,29.436620,141553,115111264,Chrome

In [22]:
df.to_csv('csv/browser_analysis.csv')