<ul>
<li>Provide a list of audiences activated each quarter, broken down by vehicle.</li>
<li>Include details about the activation path, such as direct vs. NS vs. LR, and the use of Permutive.</li>
<li>Describe the nature of the audience, e.g., whether it's 3p (third-party) or 1p (first-party), etc.</li>
<li>Additionally, please specify the associated media spend for each audience.</li>
<li>Include information about the funnel stage, including segments like high propensity, active, etc.</li>
<li>Present performance results, with a preference for comparing changes to baseline data if it is available.</li>
<ul>

This analysis uses the output of the "Delve File Manipulation"

<h2>Library</h2>

In [44]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

<h2>Function</h2>

<h2>Main</h2>

In [46]:
folder_path = r'C:\Users\Rafael_Fagundes\Downloads\compiled_data.csv'

df = pd.read_csv(folder_path)

In [48]:
df = df[(df['Segment ID'] != 0) & (df['Segment ID'] != '0')]

In [49]:
df_audiences = df[['Country_x', 'Fiscal Quarter', 'BU', 'Audience Type', 'Segment ID', 'Spend', 'Net Rev']]

df_audiences = df_audiences.groupby(['Segment ID', 'Country_x', 'BU' ,'Audience Type', 'Fiscal Quarter'])[['Spend', 'Net Rev']].sum().reset_index()

In [51]:
# Create a new column 'Status' to initially mark all segments as 'New'
df_audiences['Status'] = 'New'

# Iterate through each unique 'Segment ID'
for audience_id in df_audiences['Segment ID'].unique():
    # Find the rows where 'Segment ID' matches the current ID
    segment_rows = df_audiences[df_audiences['Segment ID'] == audience_id]
    
    # Check if there is more than one row for this segment (i.e., it was reused)
    if len(segment_rows) > 1:
        # Set 'Status' to 'Reused' for all rows except the first one
        df_audiences.loc[segment_rows.index[1:], 'Status'] = 'Reused'

In [72]:
# Pivot table 1: Counting 'Segment ID'
pivot_df_count = df_audiences.pivot_table(
    index=['Country_x', 'BU', 'Audience Type', 'Status'],
    columns='Fiscal Quarter',
    values='Segment ID',
    aggfunc='count',
    margins=True,  # Add a total line
    margins_name='Total'  # Name for the total line
)

# Pivot table 2: Summing 'Spend' and 'Net Rev'
pivot_df_sum = df_audiences.pivot_table(
    index=['Country_x', 'BU', 'Audience Type', 'Status'],
    columns='Fiscal Quarter',
    values=['Spend', 'Net Rev'],
    aggfunc='sum',
    margins=True,  # Add a total line
    margins_name='Total'  # Name for the total line
)

# Format the pivot table cells as integers and fill NaN values with an empty string for both pivot tables
pivot_df_count = pivot_df_count.applymap(lambda x: f'{int(x):,}' if not pd.isna(x) else '')
pivot_df_sum = pivot_df_sum.applymap(lambda x: f'{int(x):,}' if not pd.isna(x) else '')

# Merge the two pivot tables
merged_pivot = pd.concat([pivot_df_count, pivot_df_sum], axis=1)

# Optionally, reset the index if needed
# merged_pivot.reset_index(inplace=True)

merged_pivot

                                       2023-Q4 2024-Q1 2024-Q2 2024-Q3 Total  \
Country_x     BU  Audience Type Status
Australia     CSB 1PD           New                                  3     3
Canada        B2B 3PD           New                          7             7
                                Reused                               4     4
              CSB 1PD           New                  6               4    10
                                Reused                       6       6    12
                  3PD           New                 18      11            29
                                Reused                      18      13    31
France        CSB 1PD           New                                  1     1
United States B2B 1PD           New                  8       5            13
                                Reused                       8      13    21
                  3PD           New                 25      21            46
                                Reused                      25      46    71
              CSB 1PD           New                 28       1            29
                                Reused                      27      27    54
                  3PD           New          3      17       8       1    29
                                Reused               5      21      22    48
Total                                        3     107     158     140   408

                                       (Net Rev, 2023-Q4) (Net Rev, 2024-Q1)  \
Country_x     BU  Audience Type Status
Australia     CSB 1PD           New
Canada        B2B 3PD           New
                                Reused
              CSB 1PD           New                                        0
                                Reused
                  3PD           New                                        0
                                Reused
France        CSB 1PD           New
United States B2B 1PD           New                                   22,320
                                Reused
                  3PD           New                                        0
                                Reused
              CSB 1PD           New                                  255,361
                                Reused
                  3PD           New                     0                  0
                                Reused                                54,273
Total                                                   0            331,955

                                       (Net Rev, 2024-Q2) (Net Rev, 2024-Q3)  \
Country_x     BU  Audience Type Status
Australia     CSB 1PD           New                                        0
Canada        B2B 3PD           New                     0
                                Reused                               900,979
              CSB 1PD           New                                      599
                                Reused             13,233              5,094
                  3PD           New                     0
                                Reused              1,659                 47
France        CSB 1PD           New                                    4,495
United States B2B 1PD           New                     0
                                Reused            169,326            294,643
                  3PD           New                59,491
                                Reused          2,164,741            129,356
              CSB 1PD           New                   418
                                Reused            706,957            285,819
                  3PD           New                36,305                  0
                                Reused             43,810             65,745
Total                                           3,195,944          1,686,782

                                       (Net Rev, Total) (Spend, 2023-Q4)  \
Country_x     BU  Audience Type Status
Australia     CSB 1PD           New                   0
Canada        B2B 3PD           New                   0
                                Reused          900,979
              CSB 1PD           New                 599
                                Reused           18,328
                  3PD           New                   0
                                Reused            1,707
France        CSB 1PD           New               4,495
United States B2B 1PD           New              22,320
                                Reused          463,969
                  3PD           New              59,491
                                Reused        2,294,097
              CSB 1PD           New             255,780
                                Reused          992,777
                  3PD           New              36,305                0
                                Reused          163,829
Total                                         5,214,681                0

                                       (Spend, 2024-Q1) (Spend, 2024-Q2)  \
Country_x     BU  Audience Type Status
Australia     CSB 1PD           New
Canada        B2B 3PD           New                                    6
                                Reused
              CSB 1PD           New                   0
                                Reused                            19,379
                  3PD           New                   0                0
                                Reused                            85,639
France        CSB 1PD           New
United States B2B 1PD           New               8,753                0
                                Reused                            36,084
                  3PD           New                   0           35,167
                                Reused                           489,780
              CSB 1PD           New             279,060            6,576
                                Reused                           325,546
                  3PD           New                   0           58,802
                                Reused          118,386          295,415
Total                                           406,200        1,352,399

                                       (Spend, 2024-Q3) (Spend, Total)
Country_x     BU  Audience Type Status
Australia     CSB 1PD           New                   0              0
Canada        B2B 3PD           New                                  6
                                Reused            5,298          5,298
              CSB 1PD           New                 507            507
                                Reused            2,583         21,962
                  3PD           New                                  0
                                Reused                0         85,639
France        CSB 1PD           New               1,579          1,579
United States B2B 1PD           New                              8,753
                                Reused          157,126        193,211
                  3PD           New                             35,167
                                Reused                0        489,780
              CSB 1PD           New                            285,637
                                Reused           87,258        412,805
                  3PD           New               1,250         60,052
                                Reused           82,493        496,296
Total                                           338,097      2,096,698

In [73]:
merged_pivot.to_csv('csv/df_audiences.csv')