<ul>
<li>Provide a list of audiences activated each quarter, broken down by vehicle.</li>
<li>Include details about the activation path, such as direct vs. NS vs. LR, and the use of Permutive.</li>
<li>Describe the nature of the audience, e.g., whether it's 3p (third-party) or 1p (first-party), etc.</li>
<li>Additionally, please specify the associated media spend for each audience.</li>
<li>Include information about the funnel stage, including segments like high propensity, active, etc.</li>
<li>Present performance results, with a preference for comparing changes to baseline data if it is available.</li>
<ul>

<h2>Library</h2>

In [48]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

<h2>Main</h2>

In [49]:
df = pd.read_csv('csv/Audience Report Formatted.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49282 entries, 0 to 49281
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Funnel                        49282 non-null  object
 1   Country                       49282 non-null  object
 2   Dell Fiscal Quarter           49282 non-null  object
 3   Vehicle                       49282 non-null  object
 4   BU_lvl2                       49282 non-null  object
 5   Display Report Site Name      49282 non-null  object
 6   Campaign Name                 49282 non-null  object
 7   Media Buy Name                49282 non-null  object
 8   Display BRR Line Item         49282 non-null  object
 9   Audience Type Category (Raw)  49282 non-null  object
 10  Spend                         49282 non-null  float64
 11  Impressions                   49282 non-null  float64
 12  Clicks                        49282 non-null  float64
 13  True Conversion               49282 non-null  float64
 14  True Revenue                  49282 non-null  float64
 15  US CSB CT+VT Conversions      49282 non-null  float64
 16  US CSB CT+VT Revenue          49282 non-null  float64
 17  US BU Visits                  49282 non-null  float64
 18  US Total Visits               49282 non-null  float64
 19  HVE                           49282 non-null  float64
 20  FM MAPs OA                    49282 non-null  float64
 21  US DPID Total Revenue         49282 non-null  float64
 22  BU_lvl1                       49282 non-null  object
 23  9th Element                   49282 non-null  object
 24  Audience ID                   49282 non-null  object
 25  Audience Composition          49282 non-null  object
 26  Country-BU                    49282 non-null  object
 27  Data provider                 49282 non-null  object
 28  AIQ Attribute Category        49282 non-null  object
 29  1/2/3 PD                      49282 non-null  object
 30  Audience ID Group             49282 non-null  object
 31  Audience Type Category        49282 non-null  object
 32  Revenue                       49282 non-null  float64
 33  Segment ID                    49282 non-null  object
 34  Audience ID Exists            49282 non-null  object
dtypes: float64(13), object(22)
memory usage: 13.2+ MB

In [50]:
df_audiences = df[['Country','Dell Fiscal Quarter','Audience ID','Spend','Revenue']]

df_audiences = df_audiences.groupby(['Audience ID','Country','Dell Fiscal Quarter',])[['Spend','Revenue']].sum().reset_index()

In [51]:
df_audiences.head()

  Audience ID    Country Dell Fiscal Quarter         Spend       Revenue
0           0  Australia              FY24Q1  3.402183e+05  1.379549e+06
1           0  Australia              FY24Q2  1.086973e+06  3.035876e+06
2           0    Austria              FY24Q1  2.450051e+04  5.667628e+03
3           0    Austria              FY24Q2  1.869354e+04  8.010620e+03
4           0    Belgium              FY24Q1  4.819947e+04  6.930955e+04

In [52]:
# Create a new column 'Status' to initially mark all segments as 'New'
df_audiences['Status'] = 'New'

# Iterate through each unique 'Segment ID'
for audience_id in df_audiences['Audience ID'].unique():
    # Find the rows where 'Segment ID' matches the current ID
    segment_rows = df_audiences[df_audiences['Audience ID'] == audience_id]
    
    # Check if there is more than one row for this segment (i.e., it was reused)
    if len(segment_rows) > 1:
        # Set 'Status' to 'Reused' for all rows except the first one
        df_audiences.loc[segment_rows.index[1:], 'Status'] = 'Reused'

In [63]:
pivot_df = df_audiences.pivot_table(index=['Audience ID','Status'], columns='Dell Fiscal Quarter', values='Spend', aggfunc='count')

pivot_df

Dell Fiscal Quarter  FY24Q1  FY24Q2
Audience ID Status
0           New         1.0     NaN
            Reused     22.0    28.0
CHECK       New         NaN     1.0
            Reused     11.0    27.0
PLACEHOLDER New         NaN     1.0
...                     ...     ...
xvr22njqm   Reused      NaN     1.0
xvrxkn3zo   New         1.0     NaN
xvrxqgz7s   New         1.0     NaN
xw7l29vye   New         1.0     NaN
xw7o6b4am   New         1.0     NaN

[239 rows x 2 columns]

In [53]:
df_audiences.to_csv('csv/df_audiences.csv')