In [74]:
import warnings
import pandas as pd
import numpy as np

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)

In [75]:
df = pd.read_csv('csv/test.csv')

In [76]:
df.head()

,Fiscal Quarter,BU,Audience ID Exists,Segment ID,Campaign Name,Media Buy Name,Audience Type,Data Provider,Audience Source,Audience Category Reporting,Spend,Net Rev
0,2023-Q3,B2B,No ID,0,2021_Q4_CA_MB_NA_VIDEO_NA_G&M PMP BID,ADOBE ADS TUBEMOGUL_IN MARKET-3PD CONTEXTUAL_O...,3PD,0,0,0,0.0,0.0
1,2023-Q3,B2B,No ID,0,2021_Q4_CA_MB_NA_VIDEO_NA_G&M PMP BID,ADOBE ADS TUBEMOGUL_IN MARKET-3PD CONTEXTUAL_V...,3PD,0,0,0,0.0,0.0
2,2023-Q3,B2B,No ID,0,2021_Q4_CA_MB_NA_VIDEO_NA_G&M PMP BID,ADOBE ADS TUBEMOGUL_IN MARKET-3PD CONTEXTUAL_V...,3PD,0,0,0,0.0,0.0
3,2023-Q3,B2B,No ID,0,2021_Q4_CA_MB_NA_VIDEO_NA_G&M PMP BID,ADOBE ADS TUBEMOGUL_IN MARKET-3PD CONTEXTUAL_V...,3PD,0,0,0,0.0,0.0
4,2023-Q3,B2B,No ID,0,2022_1H_US_CSG_MF_DISPLAY_ENGAGE_WFH,ACUITY_KCT-3PD CONTEXTUAL_HTML5 BANNER_300X250...,3PD,0,0,0,0.0,0.0

In [77]:
# Group the data by 'Segment ID' and 'Fiscal Quarter' and count occurrences
df_filtered = df[(df['Segment ID'] != '0')][['Fiscal Quarter', 'Segment ID']]


# Save the grouped data to a new CSV file or update the existing file
df_filtered.drop_duplicates(inplace=True)

In [78]:
df_filtered.head()

      Fiscal Quarter   Segment ID
48802        2023-Q4  d5z3415l8ln
48818        2023-Q4  d8tvnc0ncc2
48839        2023-Q4  dievz48ix8q
73515        2024-Q1  d2gd0zx2wi5
73537        2024-Q1  d2vj160j3h5

In [79]:
# Create a new column 'Status' to initially mark all segments as 'New'
df_filtered['Status'] = 'New'

# Iterate through each unique 'Segment ID'
for segment_id in df_filtered['Segment ID'].unique():
    # Find the rows where 'Segment ID' matches the current ID
    segment_rows = df_filtered[df_filtered['Segment ID'] == segment_id]
    
    # Check if there is more than one row for this segment (i.e., it was reused)
    if len(segment_rows) > 1:
        # Set 'Status' to 'Reused' for all rows except the first one
        df_filtered.loc[segment_rows.index[1:], 'Status'] = 'Reused'

In [80]:
df_filtered.head()

      Fiscal Quarter   Segment ID Status
48802        2023-Q4  d5z3415l8ln    New
48818        2023-Q4  d8tvnc0ncc2    New
48839        2023-Q4  dievz48ix8q    New
73515        2024-Q1  d2gd0zx2wi5    New
73537        2024-Q1  d2vj160j3h5    New

In [81]:
df_claravine = pd.read_csv(r'C:\Users\Rafael_Fagundes\Downloads\Claravine.csv')

In [82]:
df_final = pd.merge(df_filtered, df_claravine, on ='Segment ID', how='left')

In [83]:
df_final.to_csv('csv/number_of_audiences.csv')

get revenue and Spend

In [85]:
df_enriched = pd.merge(df, df_claravine, on ='Segment ID', how='left')

In [86]:
# Grouping columns
grouping_cols = ['Fiscal Quarter'
                 , 'Segment ID'
                ]

# Aggregation functions
agg_funcs = {
    'Spend': 'sum',
    'Net Rev': 'sum'
}

# Create the new dataframe
df_grouped = df_enriched.groupby(grouping_cols).agg(agg_funcs).reset_index()

In [87]:
df_grouped.head()

  Fiscal Quarter   Segment ID         Spend       Net Rev
0        2023-Q3            0  4.339889e+07  4.087534e+08
1        2023-Q4            0  3.754550e+07  4.397226e+08
2        2023-Q4  d5z3415l8ln  0.000000e+00  0.000000e+00
3        2023-Q4  d8tvnc0ncc2  0.000000e+00  0.000000e+00
4        2023-Q4  dievz48ix8q  0.000000e+00  0.000000e+00

In [91]:
df_group_final.head()

  Fiscal Quarter   Segment ID Status  Spend  Net Rev
0        2023-Q4  d5z3415l8ln    New    0.0      0.0
1        2023-Q4  d8tvnc0ncc2    New    0.0      0.0
2        2023-Q4  dievz48ix8q    New    0.0      0.0
3        2024-Q1  d2gd0zx2wi5    New    0.0      0.0
4        2024-Q1  d2vj160j3h5    New    0.0      0.0

In [89]:
df_group_final = pd.merge(df_filtered, df_grouped, on =['Fiscal Quarter','Segment ID',], how='left')

In [94]:
df_final = pd.merge(df_group_final, df_claravine, on ='Segment ID', how='left')

In [95]:
df_final.head()

,Fiscal Quarter,Segment ID,Status,Spend,Net Rev,Dell Audience Name,VAR Dell Audience Name,Dell Audience Name concatenation,MediaCom Audience Name,MediaCom Audience Name Concatenation,Audience Objective,Seed Information,Audience Composition,Audience Composition concatenation,Audience Object-Audience Composition,Country,Business Unit,Country-BU concatenation,Data Type,Audience Source,Data Provider,Data Provider Abbreviation,Audience Source-Data Provider concatenation,Attribute Category,Attribute Category Shortcode,Audience Category Reporting,Platform,Random,Prefix,Claravine ID,submission_name,submitter_name,created_date
0,2023-Q4,d5z3415l8ln,New,0.0,0.0,targeting-na-parents_us-csbo-con_3pofftheshelf...,targeting-na-parents_us-csbo-con_3pofftheshelf...,Targeting-NA-parents_us-csbo-con_3P Off the sh...,targeting-parents_us-csbo-con_3pofftheshelf_li...,Targeting-parents_us-csbo-con_3P Off the shelf...,Targeting,NaN,parents,Targeting-NA-parents,Targeting-parents,us,csbo-con,us-csbo-con,3P Off the shelf,Liveramp,NaN,123Push,Liveramp-123Push,Behavioral/Demographic/In Market,BE/DE/IM,DMP-3PD AUDIENCE,NaN,5z3415l8ln,d,CV88c13b5ea8f04002bc2525075d9e495c,Liveramp 3rd PD Audiences to Adobe,Enrique Leigh,2023-02-03 13:18:57
1,2023-Q4,d8tvnc0ncc2,New,0.0,0.0,targeting-na-millenials_us-csbo-con_3poffthesh...,targeting-na-millenials_us-csbo-con_3poffthesh...,Targeting-NA-millenials_us-csbo-con_3P Off the...,targeting-millenials_us-csbo-con_3pofftheshelf...,Targeting-millenials_us-csbo-con_3P Off the sh...,Targeting,NaN,millenials,Targeting-NA-millenials,Targeting-millenials,us,csbo-con,us-csbo-con,3P Off the shelf,Liveramp,NaN,123Push,Liveramp-123Push,Demographic,DE,DMP-3PD AUDIENCE,NaN,8tvnc0ncc2,d,CVb904947588c348eea8158cd58fd8dff2,Liveramp 3rd PD Audiences to Adobe,Enrique Leigh,2023-02-03 13:18:57
2,2023-Q4,dievz48ix8q,New,0.0,0.0,targeting-na-collegestudents_us-csbo-con_3poff...,targeting-na-collegegraduates_us-csbo-con_3pof...,Targeting-NA-collegegraduates_us-csbo-con_3P O...,targeting-collegegraduates_us-csbo-con_3poffth...,Targeting-collegegraduates_us-csbo-con_3P Off ...,Targeting,NaN,collegegraduates,Targeting-NA-collegegraduates,Targeting-collegegraduates,us,csbo-con,us-csbo-con,3P Off the shelf,Liveramp,Alliant,alnt,Liveramp-alnt,Demographic,DE,DMP-3PD AUDIENCE,NaN,ievz48ix8q,d,CV300c9654fba74b36a982e2cdf3cb4a15,LiveRamp 3PD Audience College & Gaming,Prakash Gp,2023-02-03 13:36:18
3,2024-Q1,d2gd0zx2wi5,New,0.0,0.0,targeting-hvc/mb-abmmbhvcfy24q2_us-mb_abm_orac...,targeting-hvc/mb-abmmbhvcfy24q2_us-mb_3pabm_or...,Targeting-hvc/mb-abmmbhvcFY24Q2_us-mb_3P ABM_O...,targeting-abmmbhvcfy24q2_us-mb_3pabm_oracle-or...,Targeting-abmmbhvcFY24Q2_us-mb_3P ABM_Oracle-o...,Targeting,hvc/mb,abmmbhvcFY24Q2,Targeting-hvc/mb-abmmbhvcFY24Q2,Targeting-abmmbhvcFY24Q2,us,mb,us-mb,3P ABM,Oracle,Oracle Data Marketplace,ora,Oracle-ora,Employee/Firmographic,EM/FI,ABM-3PD AUDIENCE,Quantcast,2gd0zx2wi5,d,CV6b6ddaa39537412f9731dfc30c542d8b,FY24 Q2 US B2B,Sidney Young,2023-03-29 00:34:50
4,2024-Q1,d2vj160j3h5,New,0.0,0.0,targeting-mb/oom-hhincomeowners_us-mb_3poffthe...,targeting-mb/oom-hhincomeowners_us-mb_3poffthe...,Targeting-mb/oom-hhincomeowners_us-mb_3P Off t...,targeting-hhincomeowners_us-mb_3pofftheshelf_o...,Targeting-hhincomeowners_us-mb_3P Off the shel...,Targeting,mb/oom,hhincomeowners,Targeting-mb/oom-hhincomeowners,Targeting-hhincomeowners,us,mb,us-mb,3P Off the shelf,Oracle,Oracle Data Marketplace,ora,Oracle-ora,Employee/Firmographic/Income,EM/FI/INC,DMP-3PD AUDIENCE,Quantcast,2vj160j3h5,d,CVd9c0d7919a87421898083cd919c7a727,FY24 Q2 US B2B,Sidney Young,2023-03-29 00:34:50

In [93]:
df_final.to_csv('csv/spend_reve.csv')