<ul>
<li>Provide a list of audiences activated each quarter, broken down by vehicle.</li>
<li>Include details about the activation path, such as direct vs. NS vs. LR, and the use of Permutive.</li>
<li>Describe the nature of the audience, e.g., whether it's 3p (third-party) or 1p (first-party), etc.</li>
<li>Additionally, please specify the associated media spend for each audience.</li>
<li>Include information about the funnel stage, including segments like high propensity, active, etc.</li>
<li>Present performance results, with a preference for comparing changes to baseline data if it is available.</li>
<ul>

This analysis uses the output of the "Delve File Manipulation"

<h2>Library</h2>

In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

<h2>Function</h2>

<h2>Main</h2>

In [2]:
folder_path = r'C:\Users\Rafael_Fagundes\Downloads\delve_compiled_data.csv'

df = pd.read_csv(folder_path)

In [3]:
df = df[(df['Segment ID'] != 0) & (df['Segment ID'] != '0')]

In [4]:
df_audiences = df[['Country', 'Fiscal Quarter', 'BU', 'Audience Type', 'Segment ID', 'Spend', 'Net Rev']]

df_audiences = df_audiences.groupby(['Segment ID', 'Country', 'BU' ,'Audience Type', 'Fiscal Quarter'])[['Spend', 'Net Rev']].sum().reset_index()

In [5]:
# Create a new column 'Status' to initially mark all segments as 'New'
df_audiences['Status'] = 'New'

# Iterate through each unique 'Segment ID'
for audience_id in df_audiences['Segment ID'].unique():
    # Find the rows where 'Segment ID' matches the current ID
    segment_rows = df_audiences[df_audiences['Segment ID'] == audience_id]
    
    # Check if there is more than one row for this segment (i.e., it was reused)
    if len(segment_rows) > 1:
        # Set 'Status' to 'Reused' for all rows except the first one
        df_audiences.loc[segment_rows.index[1:], 'Status'] = 'Reused'

In [6]:
# Pivot table 1: Counting 'Segment ID'
pivot_df_count = df_audiences.pivot_table(
    index=['Country', 'BU', 'Audience Type', 'Status'],
    columns='Fiscal Quarter',
    values='Segment ID',
    aggfunc='count',
    margins=True,  # Add a total line
    margins_name='Total'  # Name for the total line
)

# Pivot table 2: Summing 'Spend' and 'Net Rev'
pivot_df_sum = df_audiences.pivot_table(
    index=['Country', 'BU', 'Audience Type', 'Status'],
    columns='Fiscal Quarter',
    values=['Spend', 'Net Rev'],
    aggfunc='sum',
    margins=True,  # Add a total line
    margins_name='Total'  # Name for the total line
)

# Format the pivot table cells as integers and fill NaN values with an empty string for both pivot tables
pivot_df_count = pivot_df_count.applymap(lambda x: f'{int(x):,}' if not pd.isna(x) else '')
pivot_df_sum = pivot_df_sum.applymap(lambda x: f'{int(x):,}' if not pd.isna(x) else '')

# Merge the two pivot tables
merged_pivot = pd.concat([pivot_df_count, pivot_df_sum], axis=1)

# Optionally, reset the index if needed
# merged_pivot.reset_index(inplace=True)

merged_pivot

                                       2023-Q4 2024-Q1 2024-Q2 2024-Q3  \
Country       BU  Audience Type Status
Australia     B2B 1PD           New
                  3PD           New          4                       5
                                Reused               4       4       4
              CSB 1PD           New                                  3
                                Reused
Canada        B2B 3PD           New                          7
                                Reused                               4
              CSB 1PD           New                  6               4
                                Reused                       6       6
                  3PD           New                 18      11
                                Reused                      18      15
France        CSB 1PD           New                                  1
                                Reused
India         B2B 1PD           Reused
                  3PD           New          4                       4
                                Reused               4       4       4
Japan         B2B 1PD           Reused
                  3PD           New          4                       4
                                Reused               4       4       4
Malaysia      B2B 3PD           New          1       1               2
                                Reused               1       2       2
Singapore     B2B 3PD           New          2                       2
                                Reused               4       4       6
United States B2B 1PD           New                  8       5       8
                                Reused                       8      13
                  3PD           New                 25      21      13
                                Reused                      25      46
              CSB 1PD           New                 28       1       5
                                Reused                      27      27
                  3PD           New          3      17       8       3
                                Reused               5      21      25
Total                                       18     125     176     210

                                       2024-Q4 Total (Net Rev, 2023-Q4)  \
Country       BU  Audience Type Status
Australia     B2B 1PD           New          3     3
                  3PD           New          1    10                  0
                                Reused       9    21
              CSB 1PD           New          9    12
                                Reused       2     2
Canada        B2B 3PD           New          5    12
                                Reused       6    10
              CSB 1PD           New               10
                                Reused      10    22
                  3PD           New               29
                                Reused      11    44
France        CSB 1PD           New                1
                                Reused       1     1
India         B2B 1PD           Reused       3     3
                  3PD           New                8                  0
                                Reused       8    20
Japan         B2B 1PD           Reused       3     3
                  3PD           New          1     9                  0
                                Reused       8    20
Malaysia      B2B 3PD           New                4                  0
                                Reused       2     7
Singapore     B2B 3PD           New                4                  0
                                Reused       8    22
United States B2B 1PD           New               21
                                Reused      17    38
                  3PD           New               59
                                Reused      42   113
              CSB 1PD           New          3    37
                                Reused      32    86
                  3PD           New               31                  0
                                Reused      19    70
Total                                      203   732                  0

                                       (Net Rev, 2024-Q1) (Net Rev, 2024-Q2)  \
Country       BU  Audience Type Status
Australia     B2B 1PD           New
                  3PD           New
                                Reused             75,011              2,034
              CSB 1PD           New
                                Reused
Canada        B2B 3PD           New                                        0
                                Reused
              CSB 1PD           New                     0
                                Reused                                13,233
                  3PD           New                     0                  0
                                Reused                                 1,659
France        CSB 1PD           New
                                Reused
India         B2B 1PD           Reused
                  3PD           New
                                Reused             83,322                800
Japan         B2B 1PD           Reused
                  3PD           New
                                Reused             10,286                  0
Malaysia      B2B 3PD           New                     0
                                Reused                  0                  0
Singapore     B2B 3PD           New
                                Reused                  0                  0
United States B2B 1PD           New                22,320                  0
                                Reused                               169,326
                  3PD           New                     0             59,491
                                Reused                             2,167,030
              CSB 1PD           New               255,361                418
                                Reused                               706,957
                  3PD           New                     0             36,305
                                Reused             54,273             43,810
Total                                             500,576          3,201,068

                                       (Net Rev, 2024-Q3) (Net Rev, 2024-Q4)  \
Country       BU  Audience Type Status
Australia     B2B 1PD           New                                  348,106
                  3PD           New                     0             21,291
                                Reused             35,257             75,324
              CSB 1PD           New                 9,358                  0
                                Reused                                 5,519
Canada        B2B 3PD           New                                   12,401
                                Reused          1,821,514             64,531
              CSB 1PD           New                27,689
                                Reused              9,053             57,150
                  3PD           New
                                Reused                 47                  0
France        CSB 1PD           New                 9,162
                                Reused                                     0
India         B2B 1PD           Reused                                72,369
                  3PD           New                     0
                                Reused              5,223              5,212
Japan         B2B 1PD           Reused                               188,301
                  3PD           New                     0              4,861
                                Reused              9,338             40,257
Malaysia      B2B 3PD           New                     0
                                Reused                  0              3,087
Singapore     B2B 3PD           New                     0
                                Reused                  0             16,526
United States B2B 1PD           New                     0
                                Reused            499,599            611,049
                  3PD           New                     0
                                Reused            135,143          2,560,202
              CSB 1PD           New                     0            470,261
                                Reused            843,714            869,886
                  3PD           New                     0
                                Reused            184,167             90,193
Total                                           3,589,270          5,516,535

                                       (Net Rev, Total) (Spend, 2023-Q4)  \
Country       BU  Audience Type Status
Australia     B2B 1PD           New             348,106
                  3PD           New              21,291                0
                                Reused          187,627
              CSB 1PD           New               9,358
                                Reused            5,519
Canada        B2B 3PD           New              12,401
                                Reused        1,886,046
              CSB 1PD           New              27,689
                                Reused           79,438
                  3PD           New                   0
                                Reused            1,707
France        CSB 1PD           New               9,162
                                Reused                0
India         B2B 1PD           Reused           72,369
                  3PD           New                   0                0
                                Reused           94,559
Japan         B2B 1PD           Reused          188,301
                  3PD           New               4,861                0
                                Reused           59,882
Malaysia      B2B 3PD           New                   0                0
                                Reused            3,087
Singapore     B2B 3PD           New                   0                0
                                Reused           16,526
United States B2B 1PD           New              22,320
                                Reused        1,279,975
                  3PD           New              59,491
                                Reused        4,862,376
              CSB 1PD           New             726,041
                                Reused        2,420,558
                  3PD           New              36,305                0
                                Reused          372,445
Total                                        12,807,450                0

                                       (Spend, 2024-Q1) (Spend, 2024-Q2)  \
Country       BU  Audience Type Status
Australia     B2B 1PD           New
                  3PD           New
                                Reused            3,540            3,868
              CSB 1PD           New
                                Reused
Canada        B2B 3PD           New                                    5
                                Reused
              CSB 1PD           New                   0
                                Reused                            14,576
                  3PD           New                   0                0
                                Reused                            64,187
France        CSB 1PD           New
                                Reused
India         B2B 1PD           Reused
                  3PD           New
                                Reused            4,350            5,399
Japan         B2B 1PD           Reused
                  3PD           New
                                Reused            3,270            2,795
Malaysia      B2B 3PD           New                   0
                                Reused                0                0
Singapore     B2B 3PD           New
                                Reused              857              607
United States B2B 1PD           New               8,753                0
                                Reused                            36,073
                  3PD           New                   0           35,167
                                Reused                           489,736
              CSB 1PD           New             279,060            5,391
                                Reused                           309,658
                  3PD           New                   0           58,794
                                Reused          118,386          295,415
Total                                           418,220        1,321,678

                                       (Spend, 2024-Q3) (Spend, 2024-Q4)  \
Country       BU  Audience Type Status
Australia     B2B 1PD           New                                  714
                  3PD           New                   0                0
                                Reused            8,767                0
              CSB 1PD           New               1,217              557
                                Reused                                 0
Canada        B2B 3PD           New                                  685
                                Reused           15,799              887
              CSB 1PD           New              26,953
                                Reused            5,144           39,589
                  3PD           New
                                Reused           47,796           48,154
France        CSB 1PD           New               7,095
                                Reused                                 0
India         B2B 1PD           Reused                               225
                  3PD           New                   0
                                Reused            8,623                0
Japan         B2B 1PD           Reused                               534
                  3PD           New                   0                0
                                Reused            7,695                0
Malaysia      B2B 3PD           New                   0
                                Reused                0                0
Singapore     B2B 3PD           New                   0
                                Reused            2,280                0
United States B2B 1PD           New                   0
                                Reused          374,127          234,615
                  3PD           New                   0
                                Reused           31,329          237,603
              CSB 1PD           New                   0           66,742
                                Reused          260,067          356,483
                  3PD           New               7,138
                                Reused          249,497          208,598
Total                                         1,053,535        1,195,392

                                       (Spend, Total)
Country       BU  Audience Type Status
Australia     B2B 1PD           New               714
                  3PD           New                 0
                                Reused         16,176
              CSB 1PD           New             1,774
                                Reused              0
Canada        B2B 3PD           New               690
                                Reused         16,686
              CSB 1PD           New            26,953
                                Reused         59,310
                  3PD           New                 0
                                Reused        160,138
France        CSB 1PD           New             7,095
                                Reused              0
India         B2B 1PD           Reused            225
                  3PD           New                 0
                                Reused         18,373
Japan         B2B 1PD           Reused            534
                  3PD           New                 0
                                Reused         13,761
Malaysia      B2B 3PD           New                 0
                                Reused              0
Singapore     B2B 3PD           New                 0
                                Reused          3,746
United States B2B 1PD           New             8,753
                                Reused        644,817
                  3PD           New            35,167
                                Reused        758,670
              CSB 1PD           New           351,195
                                Reused        926,209
                  3PD           New            65,933
                                Reused        871,898
Total                                       3,988,826

In [7]:
df_audiences.to_csv('csv/df_audiences.csv')