In [2]:
import pandas as pd
import plotly.graph_objects as go
import warnings

warnings.filterwarnings('ignore')

In [3]:
folder_path = r'C:\Users\Rafael_Fagundes\Downloads\compiled_data.csv'

df = pd.read_csv(folder_path)

df = df[(df['Segment ID'] != 0) & (df['Segment ID'] != '0')]

'BU', 'Audience Type','Audience ID Exists', 'Display Dell Vehicle Mapped'

In [4]:
agg_df_lvl1 = df.groupby(['BU','Audience Type'])['Segment ID'].count().reset_index()
agg_df_lvl1.head()

    BU Audience Type  Segment ID
0  B2B           1PD        5093
1  B2B           3PD       18220
2  CSB           1PD       12912
3  CSB           3PD        5675

In [5]:
agg_df_lvl2 = df.groupby(['BU', 'Audience Type','Audience ID Exists'])['Segment ID'].count().reset_index()
agg_df_lvl2.head()

    BU Audience Type Audience ID Exists  Segment ID
0  B2B           1PD            Have ID        5093
1  B2B           3PD            Have ID       18220
2  CSB           1PD            Have ID       12912
3  CSB           3PD            Have ID        5675

In [6]:
agg_df_lvl3 = df.groupby(['BU', 'Audience Type','Audience ID Exists', 'Display Dell Vehicle Mapped'])['Segment ID'].count().reset_index()
agg_df_lvl3.head()

,BU,Audience Type,Audience ID Exists,Display Dell Vehicle Mapped,Segment ID
0,B2B,1PD,Have ID,Display,4782
1,B2B,1PD,Have ID,Social,311
2,B2B,3PD,Have ID,Display,18171
3,B2B,3PD,Have ID,Video,49
4,CSB,1PD,Have ID,Audio,59

In [ ]:
source = data["Source"].values.tolist()
target = data["Target"].values.tolist()
value = data["Value"].values.tolist()
labels = df_labels["Labels"].values.tolist()

In [ ]:
#create links
link = dict(source=source, target=target, value=value,
color=["turquoise","tomato"] * len(source))

#create nodes
node = dict(label=labels, pad=15, thickness=5)

#create a sankey object
chart = go.Sankey(link=link, node=node, arrangement="snap")

#build a figure
fig = go.Figure(chart)
fig.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(color = "black", width = 0.5),
      label = ["A1", "A2", "B1", "B2", "C1", "C2"],
      color = "blue"
    ),
    link = dict(
      source = [0, 1, 0, 2, 3, 3], # indices correspond to labels, eg A1, A2, A1, B1, ...
      target = [2, 3, 3, 4, 4, 5],
      value = [8, 4, 2, 8, 4, 2]
  ))])

fig.update_layout(title_text="Basic Sankey Diagram", font_size=10)
fig.show()