In [5]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [6]:
folder_path = r'C:\Users\Rafael_Fagundes\Downloads\compiled_data.csv'

df = pd.read_csv(folder_path, encoding='utf-8')

df = df[(df['BU'] == 'CSB') 
            #& (df['Fiscal Quarter'] == '2024-Q3') 
            & (df['Country_x'] == 'United States')
            #& (df['Audience Type'] == '1PD')
       ]

#df = df[(df['Segment ID'] != 0) & (df['Segment ID'] != '0')]

In [24]:
calendar_df.head()

        Date  Day      FY Qtr Month  Period  WK  QWK        FQ         FQW
0 2011-01-29  Sat  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
1 2011-01-30  Sun  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
2 2011-01-31  Mon  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
3 2011-02-01  Tue  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1
4 2011-02-02  Wed  FY2012  Q1    M1       1   1    1  FY2012Q1  FY2012Q1W1

In [23]:
df['Fiscal Week'].head()

868805    2023-W32
868806    2023-W30
868807    2023-W27
868808    2023-W28
868809    2023-W29
Name: Fiscal Week, dtype: object

In [18]:
calendar_df = pd.read_csv(r'..\..\Dell-Projects\Helper\Calendar.csv', parse_dates=['Date'], encoding='utf-8')

In [8]:
df.groupby(['Fiscal Quarter','Audience Type'])['Spend'].sum().reset_index()

  Fiscal Quarter Audience Type         Spend
0        2023-Q3           1PD  7.999936e+06
1        2023-Q3           3PD  2.093959e+07
2        2023-Q4           1PD  7.236263e+06
3        2023-Q4           3PD  1.489920e+07
4        2024-Q1           1PD  7.645210e+06
5        2024-Q1           3PD  1.859608e+07
6        2024-Q2           1PD  5.934500e+06
7        2024-Q2           3PD  1.225908e+07
8        2024-Q3           1PD  2.250607e+06
9        2024-Q3           3PD  4.866385e+06